{% extends "header.html" %}

{% block body %}

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
      <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">...</div>
      <div role="tabpanel" class="tab-pane" id="profile">...</div>
      <div role="tabpanel" class="tab-pane" id="messages">...</div>
      <div role="tabpanel" class="tab-pane" id="settings">...</div>
    </div>
  
  </div>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basics" aria-controls="basics" role="tab" data-toggle="tab">Basics</a></li>
    <li role="presentation"><a href="#wdev" aria-controls="wdev" role="tab" data-toggle="tab">Web Dev</a></li>
    <li role="presentation"><a href="#dan" aria-controls="data" role="tab" data-toggle="tab">Data Analysis</a></li>

  </ul>

  <!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="basics">
  <div class = "tab-content">
    <div role = "tabpanel" class = "tab-pane active" id = "home">1</div>
    <div role = "tabpanel" class = "tab-pane" id = "profile">2</div>
    <div role = "tabpanel" class = "tab-pane" id = "messages">3</div>
    <div role = "tabpanel" class = "tab-pane" id = "settings">4</div>
  </div>
  
  <div role="tabpanel" class="tab-pane fade" id="wdev">WebDev</div>

  <div role="tabpanel" class="tab-pane fade" id="dan">Data Analysis</div>

</div>
</div>

{% endblock %}